doctype html 
html(lang="ko")
    head 
        title 서버가 아파요 - 500 | Devtube
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body 
        header
            h1 500
        main
            h2 우리 서버가 많이 아파요!
            a(href="/") 홈으로 돌아가기
        include partials/footer