doctype html 
html(lang="ko")
    head 
        title #{pageTitle} | Devtube
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body 
        header
            h1=pageTitle
            nav 
                ul 
                    li 
                        a(href="/videos/upload") 업로드
        main
            block content
        include partials/footer