extends base

block content
    h4 비밀번호 변경
    form(action="/users/change-password?_method=PATCH", method="POST")
        input(type="hidden" name="_method" value="PATCH")
        input(type="password", placeholder="기존 비밀번호", name="oldPassword", required)
        input(type="password", placeholder="새 비밀번호", name="newPassword", required)
        input(type="password", placeholder="새 비밀번호 재입력", name="newPasswordConfirm", required)
        input(type="submit", value="비밀번호 변경")