extends base

block content
    h4 비디오 제목 수정
    form(action=`/videos/${video.id}?_method=PUT`, method="POST")
        input(type="hidden" name="_method" value="PUT")
        input(type="text", placeholder="제목", value=video.title, name="title", required)
        input(type="submit", value="저장")