doctype html 
html(lang="ko")
    head 
        title Error Page | Devtube
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body
      h1 There was an error processing your request.
      p=errorMessage
      a(href="/") 홈으로 돌아가기
      include partials/footer