extends base

block content
    form(action="/users", method="POST")
        input(type="email", placeholder="이메일 주소", name="email", required)
        input(type="text", placeholder="아이디", name="username", required, maxlength=15)
        input(type="password", placeholder="비밀번호 입력하세요",name="password", required)
        input(type="password", placeholder="비밀번호 재입력",name="password2", required)
        input(type="text", name="name", placeholder="이름")
        input(type="text", name="location", placeholder="사는 지역")
        input(type="submit", value="회원가입")