extends base

block content
    form(action="/login", method="POST")
        input(type="text", placeholder="아이디", name="username", required)
        input(type="password", placeholder="비밀번호 입력하세요",name="password", required)
        input(type="submit", value="로그인")