extends base

block content
    form(action=`/videos`, method="POST")
        input(type="text", placeholder="제목", name="title", required)
        input(type="text", placeholder="설명", name="description", required)
        input(type="text", placeholder="해시태그 쉼표로 분리하세요", name="hashtags", required)
        input(type="submit", value="업로드")